<!--<h1>< %= @phrase.name %></h1>-->
<p id="notice"><%= notice %></p>
<h1>
    <strong>Name:</strong>
    <%= @phrase.name %>
</h1>

<!--<div id="moves">-->

<div id="moves">
    <h2>Moves in Your Phrase</h2>
    <% @phrase.moves.order(:position).each do |t| %>
        <%= t.position.to_s + ": " + t.name %> <br>
    <% end %>
</div>



<div>
    <%= link_to 'Edit', edit_phrase_path(@phrase) %> |
    <%= link_to 'Back', phrases_path %>
    <!--< %= link_to 'delete', @phrase, method: :delete %>-->
</div>