<!--<h1>< %= @phrase.name %></h1>-->
<p id="notice"><%= notice %></p>
<h1>
    <strong>Name:</strong>
    <%= @phrase.name %>
</h1>

<!--<div id="moves">-->

<!--<div id="moves">-->
    <h2>Moves in Your Phrase</h2>
    <!--< % @phrases.moves.each do |move| %>-->
    <!--    <strong>< %= move.name %></strong>-->
    <!--    < %= move.position %>-->
        
    <% @phrase.moves.order(:position).each do |t| %>
        <% if !t.position.nil? %>
        <%= t.position.to_s + ": " + t.name %> <br>
        <% end %>
    <% end %>
    <!--< % end %>-->
<!--</div>-->



<div>
    <%= link_to 'Edit Phrase Name', edit_phrase_path(@phrase) %> |
    <%= link_to 'Edit Moves', edit_moves_path(@phrase) %> |
    <%= link_to 'Back to My Phrases', phrases_path %> |
    <%= link_to 'Home', root_path %>
    <!--< %= link_to 'delete', @phrase, method: :delete %>-->
</div>