<h1>New Dance</h1>
<!--< %= render 'form', dance:@dance %>-->

<%= form_with model: @dance do |f| %>
    <div>
        <%= f.label :title %><br>
        <%= f.text_field :title %>
        <% @dance.errors.full_messages_for(:title).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    
    <div>
        <%= form.submit %>
    </div>

<div>
<%= link_to 'Back', dances_path %> |
<%= link_to 'Home', root_path %>
</div>